{{.Grade.Organisation.Name}}
{{.Grade.Name}}: Round {{.Round.ShortName}}

{{(index .Teams 0).DisplayName}} vs {{(index .Teams 1).DisplayName}}
{{.MatchSummary.ResultText}}

{{range .Innings}}{{.Name}}
{{range .Batting}}{{.PlayerShortName}} {{.DismissalText}}	{{.RunsScored}}
{{end}}Extras {{.TotalExtras}}
Total {{if eq .NumberOfWicketsFallen 10}}{{.RunsScored}}{{else}}{{.NumberOfWicketsFallen}}/{{.RunsScored}}{{end}}
Overs {{.OversBowled}}
Bowling: {{range .Bowling}}{{.PlayerShortName}} {{.OversBowled}}/{{.MaidensBowled}}/{{.RunsConceded}}/{{.WicketsTaken}}; {{end}}

{{end}}